.App {
  text-align: center;
}

.container {
  margin: 0 auto;
}

.form {
  display: flex;
  justify-content: space-around;
  background-color: #050417;
  height: 120px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.loading{
  position: absolute;
  bottom: 0;
  left: 0;
  top: 400px;
  right: 0;
}
.label {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.search-bar {
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  border-radius: 4px;
  font-style: normal;
  width: 400px;
  height: 50px;
  
}
.icon-bar {
  background: linear-gradient(333.23deg, #2A2B8D -16.84%, #2B2F8F -12.31%, #559BD1 119.72%);
  border-radius: 26px;
  width: 70px;
  height: 70px;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.text{
  text-transform: uppercase;
  
  text-align: center;
  margin-top: 60px;
  
}
.flex
{
  margin: 0;
  padding-left: 0;
  list-style: none;
  column-count: 1;
  column-gap: 10px;
}
.icon-bar-detail{
  background: linear-gradient(333.23deg, #2A2B8D -16.84%, #2B2F8F -12.31%, #559BD1 119.72%);
  border-radius: 26px;
  width: 70px;
  height: 70px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  position: absolute;
  left:20px;
  top:20px;
}
.profile-image-bar {
  width: calc(33.333% );
  position: absolute;
  top:50px;
  right: 0;
}
.profile-image {
  border-radius: 50%
}
.detail-image{
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 50px;
}

.image-frame{
  background: linear-gradient(333.23deg, #2A2B8D -16.84%, #2B2F8F -12.31%, #559BD1 119.72%);
  border-radius: 26px;
  
  width: 40%;
  align-items: center;
  justify-content: space-around;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  
}
.click-unsplash{
  color: white;
  position: absolute;
  top:0;
  right: 20px;
}

.search-button {
  background-color: #2A2B8D;
  color: white;
  font-size: 14px;
  border-radius: 25px;
  Width: 246px;
  height: 50px;
  border: #2A2B8D;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.card {
  margin-bottom: 1rem;

}
.card-list {
  margin-top: 150px;
  column-count: 3;
  padding-left: 250px;
  padding-right: 250px;
}

.card--image {
  flex: 100%;
  margin-top: 20px;
  width: 100%;
  height: auto;
}
.form-detail{

  background-color: #050417;
  height: 120px;
  
}
.paging-button-next {

  border: 1px solid #D5D7E5;
  box-sizing: border-box;
  border-radius: 2px;
  font-style: normal;
  font-weight: 600;
  width:93px;
  height:42px;
  text-align:center;
  line-height:1.1em;
  font-size:14px;
  background: #FFFFFF;
  color: #2A2B8D;
  margin-left: 5px;
  margin-top: 70px;
  margin-bottom: 152px;
}
.paging-button-pre {
  border: 1px solid #D5D7E5;
  box-sizing: border-box;
  border-radius: 2px;
  font-style: normal;
  font-weight: 600;
  width:93px;
  height:42px;
  text-align:center;
  line-height:1.1em;
  font-size:14px;
  background: #FFFFFF;
  color: #2A2B8D;
  margin-right: 5px;
  margin-top: 70px;
  margin-bottom: 152px;
}
.paging-button-block-pre {
  border: 1px solid #D5D7E5;
  box-sizing: border-box;
  border-radius: 2px;
  font-style: normal;
  font-weight: 600;
  width:93px;
  height:42px;
  text-align:center;
  line-height:1.1em;
  font-size:14px;
  background: #FFFFFF;
  color: #AAAAD1;
  margin-right: 5px;
  margin-top: 70px;
  margin-bottom: 152px;
}
.paging-button-block-next {
  
  border: 1px solid #D5D7E5;
  box-sizing: border-box;
  border-radius: 2px;
  font-style: normal;
  font-weight: 600;
  width:93px;
  height:42px;
  text-align:center;
  line-height:1.1em;
  font-size:14px;
  background: #FFFFFF;
  color: #AAAAD1;
  margin-left: 5px;
  margin-top: 70px;
  margin-bottom: 152px;
}
.dropdown {
  color: #757575;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  background: #FFFFFF;
  border-radius: 4px;
  width: 400px;
  height: 50px;
}
.options{
  color: #000000;
  padding: 1rem ;
  cursor: pointer;
  display: block;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
}
@media  (max-width: 1160px) {
  .card-list {
      column-count: 2;
      padding-left: 150px;
      padding-right: 150px;
  }
  .search-bar{
    width: 390px;
  }
  .dropdown{
    width: 390px;
  }

@media (min-width: 590px) {
  .form {
    grid-template-columns: auto 1fr auto;
    grid-gap: 1rem;
    align-items: center;
  }
  .search-bar {
    margin-bottom: 0;
  }
  .icon-bar {
    margin-bottom: 0;
  }
  .dropdown {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 750px) {
    .card-list {
        column-count: 1;
        padding-left: 10px;
        padding-right: 10px;
    }
    
}
@media only screen and (max-width: 1000px) {
  .image-frame {
      width: 50%;
  }
  
}
@media only screen and (max-width: 700px) {
  .image-frame {
      width: 70%;
  }
  
}
@media only screen and (max-width: 460px) {
  .image-frame {
      width: 95%;
  } 
}

@media only screen and (max-width: 635px) {
  .card-list {
      column-count: 1;
      padding-left: 10px;
      padding-right: 10px;
  }
  .search-bar{
    margin-top: 10px;
    width: 250px;
    height: 40px;
    display: block;
    margin : 0 auto;
    margin-bottom:  10px;
  }
  .dropdown{
    width: 250px;
    height: 40px;
    display: block;
    margin : 0 auto;
    margin-bottom:  10px;

    
  }
  .search-button{
    
    Width: 100px;
    height: 40px;
    position: absolute;
    top: 100px;
    right: 0px;
  
    
  }
  .icon-bar{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    top:15px;
    left:15px;
  }
  .form{
    height: 150px;
    display: block;
  }
  
}
@media only screen and (max-width: 480px) {
  .card-list {
      column-count: 1;
      padding-left: 10px;
      padding-right: 10px;
  }
  .search-bar{
    margin-top: 10px;
    width: 200px;
    height: 35px;
    display: block;
    margin : 0 auto;
    margin-bottom:  10px;
  }
  .dropdown{
    width: 200px;
    height: 35px;
    display: block;
    margin : 0 auto;
    margin-bottom:  10px;
    
  }
  .search-button{
    
    Width: 100px;
    height: 40px;
    position: absolute;
    top: 100px;
    right: 0px;
  
    
  }
  .icon-bar{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    top:15px;
    left:15px;
  }
  .form{
    height: 150px;
    display: block;
  }
  
}
@media only screen and (max-width: 410px) {
  .card-list {
      column-count: 1;
      padding-left: 10px;
      padding-right: 10px;
  }
  .search-bar{
    margin-top: 10px;
    width: 150px;
    height: 35px;
    display: block;
    margin : 0 auto;
    margin-bottom:  10px;
  }
  .dropdown{
    width: 150px;
    height: 35px;
    display: block;
    margin : 0 auto;
    margin-bottom:  10px;
    
  }
  .search-button{
    
    Width: 100px;
    height: 40px;
    position: absolute;
    top: 100px;
    right: 0px;
  
    
  }
  .icon-bar{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    top:15px;
    left:15px;
  }
  .form{
    height: 150px;
    display: block;
  }
  
}

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
